<!DOCTYPE html>
<html>
  <head>
    <title>TI Web App</title>

    <link
      rel="stylesheet"
      href="bower_components/bootstrap/dist/css/bootstrap.min.css"
      type="text/css">

    <link rel="stylesheet" href="build/main.css" type="text/css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="msapplication-tap-highlight" content="no"/>

    <script
      type="text/javascript"
      src="bower_components/jquery/dist/jquery.min.js">
    </script>

    <script
      type="text/javascript"
      src="bower_components/jquery-ui/jquery-ui.min.js">
    </script>

    <script
      type="text/javascript"
      src="bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>
    
    <script type="text/javascript" src="build/main.js" defer></script>
  </head>
  <body>
    <div>HELLO!</div>
  </body>
</html>
